.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    background-color: #f3f3f3;
    color: black;
}
  
.project:hover {
    transform: translateY(-7px);
}

.project-description {
    margin-top: 1em;
}

.project img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin-top: 5%;
}
.project-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}

.project-stack-item {
    margin: 1em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
}
 
.link img {
    margin: 0 auto;
    width: 15%;
    height: auto;
}