.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 7% 5% 5% 7%;
}
.core {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 80vh;
}
.crsl {
    flex: 1;
    overflow: hidden;
}
.text-about {
    flex: 1;
    padding: 30px;
}

.text-box {
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 12px;
    margin-bottom: 80%;
}


@media (max-width: 480px) {
    .about-content {
        margin-top: 15%;
    }
    .core {
        flex-direction: column;
    }
}