.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    align-items: center;  
    height: 100vh;
    margin-right: 10em;
}
.profile-image {
    margin-right: 5em;
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
}

.extra-content {
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-arrow {
    position: absolute;
    bottom: 4%;
    left: 50%;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }