.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home-content {
    display: flex;
    align-items: center;  
    margin-right: 10%;
}
.profile-image {
    margin-right: 5rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.home-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.icon-container {
    margin-top: 1rem;
}

.icon-container a {
    margin-right: 20px;
}
.icon {
    width: 25px;
    height: auto;
}

@media (max-width: 480px) {
    .home-content {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .profile-image {
        margin-right: 0;
        margin-bottom: 7%;
    }
    .text-container {
        align-items: center;
    }
    .home-title {
        margin-bottom: 7%;
    }
    .icon-container a {
        margin-left: 10px;
        margin-right: 10px;
    }
}