.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.about-content {
    background-color: black;
}

.img-text {
    display: flex;
    flex-direction: row;
}

.crsl {
    width: 400px;
    margin: auto;
}