.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.home-content {
    display: flex;
    align-items: center;  
    height: 100vh;
    margin-right: 10em;
    background-color: red;
}
.profile-image {
    margin-right: 5em;
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
}

.animation {
    width: 400px;
    height: 80px;
    background-color: brown;
    margin: 10px auto;
}

.extra-content {
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}